@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle:wght@400;700&display=swap");

@theme {
  --font-lofi: "BBH Bartle", sans-serif;
}

body {
  background-color: #000;
}
