@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle:wght@400;700&display=swap");

@theme {
  --font-lofi: "BBH Bartle", sans-serif;

  --color-primary: oklch(0.7 0.2 270);
  --color-muted: oklch(0.3 0.02 270);
  --color-ring: oklch(0.7 0.2 270);
}

body {
  background-color: #000;
}
